In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv('mckinsey_newdata.csv')
print('data has been saved to the file ...')

data has been saved to the file ...

In [6]:
df

      Unnamed: 0 Country_Names  year  population  GDP_Capita
0              0   Afghanistan  1952     8425333  779.445314
1              1   Afghanistan  1957     9240934  820.853030
2              2   Afghanistan  1962    10267083  853.100710
3              3   Afghanistan  1967    11537966  836.197138
4              4   Afghanistan  1972    13079460  739.981106
...          ...           ...   ...         ...         ...
1699        1699      Zimbabwe  1987     9216418  706.157306
1700        1700      Zimbabwe  1992    10704340  693.420786
1701        1701      Zimbabwe  1997    11404948  792.449960
1702        1702      Zimbabwe  2002    11926563  672.038623
1703        1703      Zimbabwe  2007    12311143  469.709298

[1704 rows x 5 columns]

In [12]:
df.columns

Index(['Unnamed: 0', 'Country_Names', 'year', 'population', 'GDP_Capita'], dtype='object')

In [ ]:
df.plot.bar(x-axis=''

:

In [3]:
df

          cars    price   color  quantity indexes
0       toyoto   100000     red         3    car1
1          bmw   200000    blue         2    car2
2     mercedes   300000   black         6    car3
3        supra   400000    blue         4    car4
4  honda civic   500000  yellow         8    car5
5       suzuki   600000   green         2    car6
6     hayabosa    90000  silver         9    car7
7      ferrari  7899999    grey         4    car8
8      porsche   786665   white         0    car9