In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
df = pd.read_csv('/kaggle/input/pakistan-crimes-by-type/248a92b9-5817-43f2-b0e7-6d45a45a8ee9.csv')
df

In [ ]:
df['Year'].unique()

array([2012, 2013, 2014, 2015, 2016, 2017])

***Robberies in Pakistan 2012 to 2017***

In [ ]:
robbery = df[df['Offence'] == 'Robbery']
robbery = robbery[['Year', 'Punjab', 'Sindh', 'KP', 'Balochistan', 'Islamabad', 'Railways']]
robbery = robbery.melt(id_vars=['Year'], var_name='Province', value_name='Robbery Cases')
robbery = robbery.sort_values(by='Robbery Cases', ascending=False)
robbery

    Year     Province  Robbery Cases
2   2014       Punjab          13808
1   2013       Punjab          12609
0   2012       Punjab          12181
3   2015       Punjab          11871
4   2016       Punjab          10078
5   2017       Punjab           9385
6   2012        Sindh           4320
7   2013        Sindh           4045
8   2014        Sindh           3433
9   2015        Sindh           2595
10  2016        Sindh           2409
11  2017        Sindh           2364
26  2014    Islamabad            379
25  2013    Islamabad            288
17  2017           KP            276
15  2015           KP            234
27  2015    Islamabad            209
16  2016           KP            206
20  2014  Balochistan            202
14  2014           KP            199
29  2017    Islamabad            195
19  2013  Balochistan            189
21  2015  Balochistan            186
23  2017  Balochistan            185
28  2016    Islamabad            185
24  2012    Islamabad            177
18  2012  Balochistan            160
22  2016  Balochistan            160
13  2013           KP            145
12  2012           KP            134
30  2012     Railways              5
31  2013     Railways              4
35  2017     Railways              4
32  2014     Railways              3
33  2015     Railways              1
34  2016     Railways              1

In [ ]:
totalCasesOfRobberies = df[df['Offence'] == 'Robbery'].agg({'Punjab': 'sum', 'Sindh': 'sum', 'KP': 'sum', 'Balochistan': 'sum', 'Islamabad': 'sum', 'Railways': 'sum', 'G.B': 'sum', 'AJK': 'sum', 'Pakistan': 'sum', }).reset_index()
totalCasesOfRobberies.columns = ['Province', 'Total Robbery Cases']
totalCasesOfRobberies = totalCasesOfRobberies.sort_values(by='Total Robbery Cases', ascending=False)
totalCasesOfRobberies

      Province  Total Robbery Cases
8     Pakistan                93261
0       Punjab                69932
1        Sindh                19166
4    Islamabad                 1433
2           KP                 1194
3  Balochistan                 1082
7          AJK                  338
6          G.B                   98
5     Railways                   18

***Murders in Pakistan 2012 to 2017***

In [ ]:
murder = df[df['Offence'] == 'Murder']
murder = murder[['Year', 'Punjab', 'Sindh', 'KP', 'Balochistan', 'Islamabad', 'Railways']]
murder = murder.melt(id_vars=['Year'], var_name='Province', value_name='Murder Cases')
murder = murder.sort_values(by='Murder Cases', ascending=False)
murder

    Year     Province  Murder Cases
0   2012       Punjab          6128
1   2013       Punjab          5969
2   2014       Punjab          5953
3   2015       Punjab          4422
4   2016       Punjab          3995
5   2017       Punjab          3914
7   2013        Sindh          3854
6   2012        Sindh          3726
8   2014        Sindh          3225
14  2014           KP          3184
13  2013           KP          3163
12  2012           KP          2958
15  2015           KP          2496
16  2016           KP          2481
17  2017           KP          2361
9   2015        Sindh          1907
10  2016        Sindh          1445
11  2017        Sindh          1409
18  2012  Balochistan           711
19  2013  Balochistan           639
20  2014  Balochistan           615
21  2015  Balochistan           412
22  2016  Balochistan           382
23  2017  Balochistan           325
26  2014    Islamabad           144
25  2013    Islamabad           131
24  2012    Islamabad           120
27  2015    Islamabad           116
28  2016    Islamabad            94
29  2017    Islamabad            84
30  2012     Railways             6
35  2017     Railways             6
31  2013     Railways             4
32  2014     Railways             4
33  2015     Railways             3
34  2016     Railways             2

In [ ]:
totalCasesOfMurder = df[df['Offence'] == 'Murder'].agg({'Punjab': 'sum', 'Sindh': 'sum', 'KP': 'sum', 'Balochistan': 'sum', 'Islamabad': 'sum', 'Railways': 'sum', 'G.B': 'sum', 'AJK': 'sum', 'Pakistan': 'sum', }).reset_index()
totalCasesOfMurder.columns = ['Province', 'Total Murder Cases']
totalCasesOfMurder = totalCasesOfMurder.sort_values(by='Total Murder Cases', ascending=False)
totalCasesOfMurder

      Province  Total Murder Cases
8     Pakistan               67296
0       Punjab               30381
2           KP               16643
1        Sindh               15566
3  Balochistan                3084
4    Islamabad                 689
7          AJK                 477
6          G.B                 431
5     Railways                  25